* {
    background-color: aquamarine;
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
}

#welcome {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}

#first {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

p {
    font-size: 20px;
}

#start {
    position: fixed;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

h1 {
   font-size: 28px; 
}

#second, #third, #fourth, #fifth, #sixth {
   display: none;
}

#scores {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.timer {
    position: absolute;
    bottom: 0;
    right: 10px;
}
